/* /app/tool1/Tool1.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    background-color: black; /* Black background for EY theme */
    color:yellow; /* Yellow text for EY theme */
  }
  
  .heading { /* Add a class to style h1 */
    font-size: 36px;
    margin-bottom: 30px;
    color:rgba(51,51,51);
  }
  .form {
    
     background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: yellow;
    border: 2px solid rgba(51,51,51);
    font-size: 16px;
    width: 300px;
    text-align: center;
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: yellow;
    border: 2px solid rgba(51,51,51);
    border-radius: 5px;
    color:rgba(51,51,51);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: rgba(51,51,51);
    color: yellow;
    border: 2px solid yellow;
  }
  
  .result {
    margin-top: 20px;
    padding: 20px;
    background-color: yellow;
    color: rgba(51,51,51);
    border: 2px solid rgba(51,51,51);
    border-radius: 8px;
    font-size: 18px;
    max-width: 80%;
    text-align: center;
  }
  